.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #fffff2;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 460px;
  width: 460px;
  background-color: #30532B;
  border: 2px black solid;
  border-radius: 250px;
  position: absolute;
}

.dices {
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangleLeft {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 110px;
  border-bottom-width: 110px;
  border-left: 400px solid #000;
}

.triangleLeftRed {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 110px;
  border-bottom-width: 110px;
  border-left: 400px solid #6F1D1B;
}

.triangleRight {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 110px;
  border-bottom-width: 110px;
  border-right: 400px solid #000;
}

.triangleRightRed {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 110px;
  border-bottom-width: 110px;
  border-right: 400px solid #6F1D1B;
}

.middleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 78vh;
}

.launchBtn {
  height: 40px;
  width: 80px;
  border-radius: 30px;
  border: 1px black solid;
  background-color: black;
  color: #fffff2;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.launchBtn:hover {
  background-color: #6F1D1B;
}

.total {
  color: #fffff2;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute;
  margin-top: 35vh;
}